
html {
  height: 100%;
}

body {
  background-image: linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -Webkit-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -Webkit-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -moz-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -moz-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
} 



.invalid-feedback {
  color: #ec1221;
  text-align: center;
  margin-top: -23px;
}

.wrapper {
  position: absolute;
  left: 50%;
  margin-left: -12.5em;
  width: 25em;
  height: 80%;
}
.wrapper .login {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15em;
  margin-left: -12.5em;
  width: 25em;
  height: 37em;
  background-color: white;
  -moz-border-radius-topright: 0.25rem;
  -webkit-border-top-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -moz-border-radius-topleft: 0.25rem;
  -webkit-border-top-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
  -moz-box-shadow: 0.2em 0em 0.6em 0.1em rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0.2em 0em 0.6em 0.1em rgba(0, 0, 0, 0.5);
  box-shadow: 0.2em 0em 0.6em 0.1em rgba(0, 0, 0, 0.5);
}
.wrapper .login .appTitle {
  color: #EEEEEE;
  font-size: 2em;
  padding-top: 1rem;
  height: 4rem;
  background-color: #364D5C;
  text-align: center;
  border: none;
  -moz-border-radius-topright: 0.25rem;
  -webkit-border-top-right-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  -moz-border-radius-topleft: 0.25rem;
  -webkit-border-top-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.wrapper .login .arrow-down {
  position: relative;
  left: 50%;
  margin-left: -1em;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-top: 1em solid #364D5C;
}
.wrapper .login span {
  float: left;
  margin-left: 2rem;
  width: 3rem;
  height: 3.5rem;
  text-align: center;
  color: #FFF;
  background-color: #364D5C;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}
.wrapper .login form {
  width: 25em;
  padding-top: 1.5em;
}
.wrapper .login form fieldset {
  padding: -12rem;
  margin: 0%;
  border: none;
}
.wrapper .login form fieldset input {
  position: relative;
  float: left;
  margin-bottom: 1.5em;
  padding-left: .3em;
  background-color: #EFEFEF;
  outline: 0;
  width: 18rem;
  height: 3.5rem;
  font-size: 1em;
  outline: 0;
  box-sizing: border-box;
  border: 0.1em solid #364D5C;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.wrapper .login form fieldset input:focus {
  background-color: white;
}
.wrapper .login #btnLogin {
  position: absolute;
  left: 50%;
  margin-left: -10.5rem;
  width: 21rem;
  height: 3rem;
  background-color: #42C474;
  border: none;
  color: #FFF;
  font-size: 1.5em;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius: 0.25rem;
  -webkit-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.wrapper .login #btnLogin:hover {
  background-color: #44ee85;
}

a#forgot {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  text-decoration: none;
  color: #000;
}

#externalAuth {
  position: relative;
  display: block;
  top: 50%;
  margin-top: 9em;
}

#or {
  display: block;
  clear: both;
  margin-top: .5em;
  width: 100%;
  height: 1em;
  color: #FFF;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  padding-top: .5em;
}

i[class*="fa-"] {
  font-family: 'FontAwesome', sans-serif;
  padding-top: 1.25rem;
}

span[class*="fa-"] {
  font-family: 'FontAwesome', sans-serif;
}


button#createAccount {
  position: relative;
  top: 100%;
  padding-top: 3.5rem;
  width: 30em;
  height: 4.5rem;
  z-index: 1;
  color: #FFF;
  background-color: #364D5C;
  font-weight: bold;
  border: none;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -moz-border-radius-bottomright: 0.25rem;
  -webkit-border-bottom-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  -moz-border-radius-bottomleft: 0.25rem;
  -webkit-border-bottom-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  box-shadow: 0.4em 0.1em 0.5em -0.1em rgba(0, 0, 0, 0.5);
}
button#createAccount:hover {
  background-color: #228fd8;
}

*{
  margin: 0;
  padding: 0;
}
.encab{
  background: #364D5C;
  height: 100px;

}
img{
  width: 170px;
  border-radius: 5%;
  position:absolute;
  margin-left: 60px; 
}
.encab nav{
  display: flex;
  justify-content: space-around;
  float: right; 
  padding-top: 30px;
  margin-right: 20px;
}
.encab nav ul{
  list-style: none;
  display:flex;
  justify-content: space-between;
  
}
a{
  text-decoration: none;
  font-family: rale;
  font-size: 20px;
  color: white;
  padding: 12px;
  display: block;
}
a:hover{
  background: rgb(155, 176, 245);
}
.encab nav ul li ul{
  display: flex;
  flex-direction:column;
}
.encab nav ul li ul{
  position: absolute;
  background: #364D5C;
}
.encab nav ul li ul li{
  width: 173px;
  position: relative;

}
.encab nav ul li ul{
  display: none;
}
.encab nav ul li:hover > ul{
  display: block;
}
nav ul li a{
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: rale;
}

.camp{
display: flex;
flex-direction: column;
width: 18rem;
margin: 1.7rem 4;
}
.camp label{
  font-size: 1rem;
  font-weight:3rem;
  width: 3.5rem;
  margin-top: 0.2rem;
  color:rgb(56, 56, 56);
  
}

.camp select{
  font-size: 1rem;
  width: auto;
  height: 3.7rem;
  padding-left: 0rem;
  margin-top: -4.7px;
}



footer{
  width: 100%;
  background-color: #364D5C;
  padding: 150x 0px;
  height: 26rem;
  margin-top: 5rem;
}
.container_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin:auto;
  margin-top: 5px;
}
.box_footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box_footer .logo{
  width: 4rem;
}
.box_footer .terms{
  max-width: 350px;
  margin-top: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.box_footer h2{
  margin-bottom: 30px;
  color: rgb(255, 253, 253);
  font-weight: 600;
}
.box_footer a{
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.box_footer a:hover{
  opacity: 3;
}
.box_footer a .fab{
  font-size: 20px;
}
.btn-save1{
  width: 10%;
  height: 4rem;
  padding: 15px;
margin-left: 44.5%;
text-align: center;
  background-color:  #364D5C;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  margin-top: 28em;
 
}
.btn-save1:hover,.btn-save:active{
  color:#fff;
  background-color:  #228fd8;
  border-color:#3a5f77;
}
.btn-save1:focus{
  box-shadow:0 0 0 3px #3a5f77;
}