html {
  height: 100%;
}

body {
  background-image: linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -Webkit-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -Webkit-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -moz-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -moz-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: Roboto, Helvetica Neue, Helvetica, Arial, sans-serif;
}




/* Login form */
.login-form, .contenedor {
  width: 300px;
  margin: 0 auto;
  
}
.login-form h1 {
  text-align: center;
  color:midnightblue ;
  font-size: 26px;
  padding: 70px 0 10px 0;
  
}
.login-form input[type="password"],
.login-form input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing:border-box;
}

/* Estilos boton LOGIN*/
.btn-login{
  width: 100%;
  padding: 15px;
  background-color: #6f42c1;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
}
.btn-login:hover,.btn-login:active{
  color:#fff;
  background-color:#61428f;
  border-color:#61428f
}
.btn-login:focus{
  box-shadow:0 0 0 3px rgba(121,82,179,0.25)
}

/* Estilos boton REGISTER*/
.btn-register{
  width: 100%;
  padding: 15px;
  background-color: #34D399;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
  margin-top: 20px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}
.btn-register:hover,.btn-register:active{
  color:#fff;
  background-color: #10B981;
  border-color:#10B981
;
}
.btn-register:focus{
  box-shadow:0 0 0 3px #10B981;
}
/* Estilos de link para ir a LOGIN*/
.a-login:link, .a-login:visited {
  background-color: white;
  color: black;
  border: 2px solid #10B981;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.a-login:hover, .a-login:active {
  background-color: #10B981;
  color: white;
}

/* Estilos de link para realizar el LOGOUT*/
.a-logout:link, .a-logout:visited {
  background-color: white;
  color: black;
  border: 2px solid #F87171;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.a-logout:hover, .a-logout:active {
  background-color: #F87171;
  color: white;
}

/* Estilos boton CANCELAR*/
.btn-cancel{
  width: 50%;
  padding: 15px;
  background-color: #9CA3AF;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size:medium;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}
.btn-cancel:hover,.btn-cancel:active{
  color:#fff;
  background-color: #6B7280;
  border-color:#6B7280
;
}
.btn-cancel:focus{
  box-shadow:0 0 0 3px #6B7280;
}

/* Estilos boton GUARDAR*/
.btn-save{
  width: 50%;
  padding: 15px;
  background-color:  #364D5C;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size:medium;
  color: #ffffff;
  margin-top: 0px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}
.btn-save:hover,.btn-save:active{
  color:#fff;
  background-color:  #228fd8;;
  border-color:#3a5f77;
}
.btn-save:focus{
  box-shadow:0 0 0 3px #3a5f77;
}

/* form User Registration */
.register-form{
  width: 30%;
  flex-wrap: wrap;
  margin: auto;
  height: auto;
  padding: 5px 20px 30px 20px;
  margin-top: 35px;
  font-size: 18px;
  font-family: Times;  
  text-align: center !important;


 box-shadow: 0 25px 60px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
}


.register-form h1 {
  color: #EEEEEE;
  font-size: 1.8em;
  padding-top: 1rem;
  height: 6rem;
  background-color: #364D5C;
  text-align: center;
  border: none;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  -moz-border-radius-topright: 0.30rem;
  -webkit-border-top-right-radius: 0.50rem;
  border-top-right-radius: 0.50rem;
  -moz-border-radius-topleft: 0.25rem;
  -webkit-border-top-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.register-form input[type="password"],
.register-form input[type="text"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing:border-box;
  font-size: 23px;
}
.register-form1 h1 {
  color: #EEEEEE;
  font-size: 1.5em;
  padding-top: 1rem;
  height: 3.6rem;
  background-color: #364D5C;
  text-align: center;
  border: none;
  -moz-border-radius-topright: 0.30rem;
  -webkit-border-top-right-radius: 0.50rem;
  border-top-right-radius: 0.50rem;
  -moz-border-radius-topleft: 0.25rem;
  -webkit-border-top-left-radius: 0.25rem;
  border-top-left-radius: 0.25rem;
}
.register-form1 input[type="password"],
.register-form1 input[type="text"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ced4da;
  margin-bottom: 10px;
  box-sizing:border-box;
  font-size: 23px;
}

.select-css{
  display:flex;
  font-size: 15px;
  font-weight: 600;
  line-height: 5;
  padding: .4em 1.4em .3em .8em;
  width: 700px;
  height: 53px;
  max-width: 100%;
  box-sizing:border-box;
  margin: 0;
  background-color: #f5f5f5;
  text-align: center !important;
}


footer{
  width: 100%;
  background-color: #364D5C;
  padding: 150x 0px;
  height: 23rem;
  margin-top: 5rem;
}
.container_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin:auto;
  margin-top: 5px;
}
.box_footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box_footer .logo1{
  width: 100%;
  margin-left: 0%;
  margin-top: 0%;
  position: absolute;
}
.box_footer .terms{
  max-width: 350px;
  margin-top: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.box_footer h2{
  margin-bottom: 30px;
  color: rgb(255, 253, 253);
  font-weight: 600;
}
.box_footer a{
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.box_footer a:hover{
  opacity: 3;
}
.box_footer a .fab{
  font-size: 20px;
}
.btn-save1{
  width: 10%;
  height: 4rem;
  padding: 15px;
margin-left: 43%;
text-align: center;
  background-color:  #364D5C;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  margin-top: 25px;
 
}
.btn-save1:hover,.btn-save:active{
  color:#fff;
  background-color:  #228fd8;
  border-color:#3a5f77;
}
.btn-save1:focus{
  box-shadow:0 0 0 3px #3a5f77;
}
*{
  margin: 0;
  padding: 0;
}
.img1{
  width: 170px;
  border-radius: 5%;
  position:absolute;
  margin-left: 60px; 
}
.a1:hover{
  background: rgb(155, 176, 245);
}
img{
  margin-left: 40px ;
}
strong{
  color:#364D5C;;
  margin-left: 0%;
  font-size: 20px;
  margin-top: auto;
}
a{
  text-decoration: none;
  font-family: rale;
  font-size: 20px;
  color: white;
  padding: 12px;
  display: block;
}
ul li ul{
  display: flex;
  flex-direction:column;
}
ul li ul{
  position: absolute;
  background: #364D5C;
}
ul li ul li{
  width: 175px;
  background-color:#fdfdfd ;
  position: revert;
}
ul li ul li a{
text-align: center;
 font-size: medium;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
ul li ul{
  display: none;
}
ul li:hover > ul{
  display: block;
}