html {
  height: 100%;
}
@font-face{
  font-family: rale;
  src: url(../../../fuentes/Raleway-Regular.ttf);
}
body {
  background-image: linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -Webkit-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -Webkit-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -moz-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -moz-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: rale;
}
main{
 padding-block: 3%;
}
h1 {
  padding-top: 4px;
  color: #ffffff;
  width: 40%;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  font-style: unset;
  background-color: #364D5C;
  text-align: center;
  border: none;
  float: center;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.wrapper {
  position: absolute;
  left: 50%;
  margin-left: -12.5em;
  width: 25em;
  height: 100%;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
  margin: 0 auto;
  padding: 0px 20px 60px 20px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;

}
.camp{
display: flex;
flex-direction: column;
width: 18rem;
margin: 3px 3 ;
}
.camp label{
  font-size: 1rem;
  font-weight:3rem;
  margin-top: 0.2rem;
  color:rgb(56, 56, 56)
}
.camp input{
  font-size: 1.1rem;
  height: 2.2rem;
  padding-left: 0.5rem;

  border: 2px solid cornflowerblue;
  border-radius: 5px;
}
.camp select{
  font-size: 1.1rem;
  width: 12;
  height: 2.6rem;
  padding-left: 0.5rem;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}


/* Estilos boton GUARDAR*/
.btn-save{
  width: 30%;
  height: 4rem;
  padding: 15px;
  background-color:  #364D5C;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-top: 25px;
 
}
.btn-save:hover,.btn-save:active{
  color:#fff;
  background-color:  #228fd8;
  border-color:#3a5f77;
}
.btn-save:focus{
  box-shadow:0 0 0 3px #3a5f77;
}

footer{
  width: 100%;
  background-color: #364D5C;
  padding: 0px 0px 0px;
  height: 25rem;
  margin: auto;
  margin: auto;
  margin-top: 5rem;
}
.container_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin:auto;
  margin-top: px;
}
.box_footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box_footer .logo{
  width: 10rem;
}
.box_footer .terms{
  max-width: 350px;
  margin-top: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.box_footer h2{
  margin-bottom: 30px;
  color: rgb(255, 253, 253);
  font-weight: 600;
}
.box_footer a{
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.box_footer a:hover{
  opacity: 3;
}
.box_footer a .fab{
  font-size: 20px;
}

.btn-save1{
  width: 10%;
  height: 4rem;
  padding: 15px;
margin-left: 43%;
text-align: center;
  background-color:  #364D5C;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;

 
}
.btn-save1:hover,.btn-save:active{
  color:#fff;
  background-color:  #228fd8;
  border-color:#3a5f77;
}
.btn-save1:focus{
  box-shadow:0 0 0 3px #3a5f77;
}
*{
  margin: 0;
  padding: 0;
}
.img1{
  width: 170px;
  border-radius: 5%;
  position:absolute;
  margin-left: 60px; 
}
.a1:hover{
  background: rgb(155, 176, 245);
}
img{
  margin-left: 40px ;
}
strong{
  color:#364D5C;;
  margin-left: 0%;
  font-size: 20px;
  margin-top: auto;
}
a{
  text-decoration: none;
  font-family: rale;
  font-size: 20px;
  color: white;
  padding: 12px;
  display: block;
}
ul li ul{
  display: flex;
  flex-direction:column;
}
ul li ul{
  position: absolute;
  background: #364D5C;
}
ul li ul li{
  width: 175px;
  background-color:#fdfdfd ;
  position: revert;
}
ul li ul li a{
text-align: center;
 font-size: medium;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
ul li ul{
  display: none;
}
ul li:hover > ul{
  display: block;
}