html {
  height: 100%;
}
@font-face{
  font-family: rale;
  src: url(../../../fuentes/Raleway-Regular.ttf);
}
body {
  background-image: linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -Webkit-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -Webkit-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -moz-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -moz-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: rale;
}
main{
 padding-block: 3%;
}
h1 {
  padding-top: 200x;
  color: #EEEEEE;
  width: 50%;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  background-color: #364D5C;
  text-align: center;
  border: none;
  float: center;
  box-sizing: border-box;
}
.wrapper {
  position: absolute;
  left: 50%;
  margin-left: -12.5em;
  width: 25em;
  height: 100%;
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
  margin: 0 auto;
  padding: 0px 20px 60px 20px;
  margin-top: 35px;
  font-size: 15px;

  margin-left: auto;
  margin-right: auto;
}
.camp{
display: flex;
flex-direction: column;
width: 20rem;
margin: 0.5rem 0;
}
.camp label{
  font-size: 1rem;
  font-weight:3rem;
  margin-top: 0.2rem;
  color:rgb(56, 56, 56)
}
.camp input{
  font-size: 1.1rem;
  height: 2.2rem;
  padding-left: 0.5rem;
  width: 90%;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}
.camp select{
  font-size: 1.1rem;
  width: 90%;
  height: 2.6rem;
  padding-left: 0.5rem;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}
.sexo{
display: flex;
flex-direction: flex;
justify-content: space-around;
width: 20rem;
margin: 0.7rem;
height: 2em;
}
.Sexo label{
  font-size: 1rem;
  font-weight:1rem;
  margin-top: 7rem;
  color:rgb(56, 56, 56);
  font-size: 1rem;
  margin-top: 0.2rem;
}
.sexo div{
  font-size: 1rem;
  font-weight:3rem;
  margin-top: 0.2rem;
  color:rgb(56, 56, 56);
  display: flex;
  justify-content: flex-start;
  padding: 0.5;
}
.sexo div input{
  height: 1.5rem;
  width: 1.5rem;
}
.btn-cancel{
  width: 50%;
  padding: 15px;
  background-color: #9CA3AF;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size:medium;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  /* Para dar la apariencia de un boton */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;  
}
.btn-cancel:hover,.btn-cancel:active{
  color:#fff;
  background-color: #6B7280;
  border-color:#6B7280
;
}
.btn-cancel:focus{
  box-shadow:0 0 0 3px #6B7280;
}

/* Estilos boton GUARDAR*/
.btn-save{
  width: 20%;
  height: 3rem;
  padding: 5px;
  background-color:  #364D5C;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  color: #ffffff;
  margin-top: 6%;
  margin-left: 34px;
  margin-right: auto;

}
.btn-save:hover,.btn-save:active{
  color:#fff;
  background-color:  #228fd8;
  border-color:#3a5f77;
}
.btn-save:focus{
  box-shadow:0 0 0 3px #3a5f77;
}
*{
  margin: 0;
  padding: 0;
}
.encab{
  background: #364D5C;
  height: 100px;

}
img{
  width: 170px;
  border-radius: 5%;
  position:absolute;
  margin-left: 60px; 
}
.encab nav{
  display: flex;
  justify-content: space-around;
  float: right; 
  padding-top: 30px;
  margin-right: 20px;
}
.encab nav ul{
  list-style: none;
  display:flex;
  justify-content: space-between;
  
}
a{
  text-decoration: none;
  font-family: rale;
  font-size: 20px;
  color: white;
  padding: 12px;
  display: block;
}
a:hover{
  background: rgb(155, 176, 245);
}
.encab nav ul li ul{
  display: flex;
  flex-direction:column;
}
.encab nav ul li ul{
  position: absolute;
  background: #364D5C;
}
.encab nav ul li ul li{
  width: 173px;
  position: relative;

}
.encab nav ul li ul{
  display: none;
}
.encab nav ul li:hover > ul{
  display: block;
}
nav ul li a{
  color: white;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
  padding-left: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  font-family: rale;
}

footer{
  width: 100%;
  background-color: #364D5C;
  padding: 150x 0px;
  height: 23rem;
  margin-top: 5rem;
}
.container_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin:auto;
  margin-top: 5px;
}
.box_footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box_footer .logo{
  width: 4rem;
}
.box_footer .terms{
  max-width: 350px;
  margin-top: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.box_footer h2{
  margin-bottom: 30px;
  color: rgb(255, 253, 253);
  font-weight: 600;
}
.box_footer a{
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.box_footer a:hover{
  opacity: 3;
}
.box_footer a .fab{
  font-size: 20px;
}
.btn-save1{
  width: 10%;
  height: 4.5rem;
  padding: 15px;
  margin-left: 43%;
  text-align: center;
  background-color:  #364D5C;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  margin-top: 25px;
}