
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap');
html {
  height: 100%;
}

body {
  background-image: linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -Webkit-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -Webkit-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  background-image: -moz-linear-gradient(30deg, rgba(99, 148, 156, 0.7) 1%, rgba(171, 224, 232, 0.5) 100%), -moz-linear-gradient(-30deg, #494d71 0%, rgba(217, 230, 185, 0.5) 80%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: rale;
}
main{
 padding-block: 3%;
}
h1 {
  padding-top: 4px;
  color: #ffffff;
  width: 40%;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: 3rem;
  font-style: unset;
  background-color: #364D5C;
  text-align: center;
  border: none;
  float: center;
  box-sizing: border-box;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  box-shadow: 0 25px 60px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
  margin: 0 auto;
  padding: 0px 20px 60px 20px;
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
}
.camp{
display: flex;
flex-direction: column;
width: 18rem;
margin: 3px 3 ;
}
.camp label{
  font-size: 1rem;
  font-weight:3rem;
  margin-top: 0.2rem;
  color:rgb(56, 56, 56)
}
.camp input{
  font-size: 1.1rem;
  height: 2.2rem;
  padding-left: 0.5rem;

  border: 2px solid cornflowerblue;
  border-radius: 5px;
}
.camp select{
  font-size: 1.1rem;
  height: 2.6rem;
  padding-left: 0.5rem;
  border: 2px solid cornflowerblue;
  border-radius: 5px;
}


/* Estilos boton GUARDAR*/
.btn-save{
  width: 30%;
  height: 4rem;
  padding: 15px;
  margin-left: 35%;
  background-color:  #364D5C;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  margin-top: 25px;
 
}
.btn-save:hover,.btn-save:active{
  color:#fff;
  background-color:  #228fd8;
  border-color:#3a5f77;
}
.btn-save:focus{
  box-shadow:0 0 0 3px #3a5f77;
}

footer{
  width: 100%;
  background-color: #364D5C;
  padding: 50x 0px;
  height: 25rem;
  margin-top: 5rem;
}
.container_footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin:auto;
  margin-top: px;
}
.box_footer{
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box_footer .logo{
  width: 10rem;
}
.box_footer .terms{
  max-width: 350px;
  margin-top: 100px;
  font-weight: 600;
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.box_footer h2{
  margin-bottom: 30px;
  color: rgb(255, 253, 253);
  font-weight: 600;
}
.box_footer a{
  margin-top: 10px;
  color: rgb(255, 255, 255);
  font-weight: 600;
}
.box_footer a:hover{
  opacity: 3;
}
.box_footer a .fab{
  font-size: 20px;
}

.btn-save1{
  width: 10%;
  height: 4rem;
  padding: 15px;
margin-left: 45%;
text-align: center;
  background-color:  #364D5C;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  font-size: 25px;
  color: #ffffff;
  margin-top: 0px;
 
}
.btn-save1:hover,.btn-save:active{
  color:#fff;
  background-color:  #228fd8;
  border-color:#3a5f77;
}
.btn-save1:focus{
  box-shadow:0 0 0 3px #3a5f77;
}
*{
  margin: 0;
  padding: 0;
}

.img1{
  width: 170px;
  border-radius: 5%;
  position:absolute;
  margin-left: 60px; 
}
.a1:hover{
  background: rgb(155, 176, 245);
}
img{
  margin-left: 40px ;
}
strong{
  color:#364D5C;;
  margin-left: 0%;
  font-size: 20px;
  margin-top: auto;
}
a{
  text-decoration: none;
  font-family: rale;
  font-size: 20px;
  color: white;
  padding: 12px;
  display: block;
}
ul li ul{
  display: flex;
  flex-direction:column;
}
ul li ul{
  position: absolute;
  background: #364D5C;
}
ul li ul li{
  width: 175px;
  background-color:#fdfdfd ;
  position: revert;
}
ul li ul li a{
text-align: center;
 font-size: medium;
 font-family: Georgia, 'Times New Roman', Times, serif;
}
ul li ul{
  display: none;
}
ul li:hover > ul{
  display: block;
}

.camp1{
  display:flex;
  flex-direction: column;
  width: 18em;
  margin: 3px 3px ;
  }
   label.nombre::after {content: ' *';color: red;
}
.p{
  color: #364D5C;
  position: absolute;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 14%;
  font-size: smaller;
  font-style: oblique;
  }
/* responsive */
#icon-menu{
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  top: 16px;
  padding: 10px;
  font-size: 20px;
  background: #eeeeeefa;
  border-radius: 100%;
  color: #787878;
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#icon-menu:hover{
  color:#fff;
  background-color:  #228fd8;
  border-color:#3a5f77;
}
@media screen and (width: 1600px){
  .p{
    color: #364D5C;
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 20%;
    font-size: smaller;
    font-style: oblique;
    }
}
@media screen and (max-width: 1220px){

  .header-content,
  .container-content,
  .container-footer{
      max-width: 1000px;
      padding: 0 20px;
  }
}


@media screen and (max-width: 1020px){

  .container-content{
      width: 100%;
      flex-direction: column;
      scroll-padding-top: 0%;
  }

  .container-content{
      box-shadow: 0 0 0 0;
  }

  .container-footer{
      display: flex;
      justify-content: center;
  }

}


@media screen and (max-width: 912px){

  #title{
  font-size: 25px;
  display:flex;
  }
  .log{
   padding-left: 0%;
  }
  body{
    overflow-x: hidden;
  }
  
  .container-all{
    transition: all 300ms cubic-bezier(1,0,0,1);
  }
  
  .move-container-all{
    transform: translateX(0px);
  }
    .container-content{
      width: 100%;
      flex-direction: column;
      scroll-padding-top: 0%;
      align-items: center;
  }
  
  .menu{
    width: 0px;
    height: 100vh;
    position: fixed;
    top: 80px;
    left: 0;
    background: #fff;
    overflow: hidden;
    box-shadow: 10px 0 20px -25px black;
    transition: all 300ms cubic-bezier(1,0,0,1);
  }
  
    .show-lateral {
        width: 250px;
        transform: translateX(0px);
        padding-top: 0%;
        position: relative;
    }
    h1{
      height: max-content;
      align-items: center;
      margin-top: 40px;
    }
  
    .menu  ul {
        flex-direction: column;
    }
  
    .menu  ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }
  
    .menu-selected:before{
        width: 0;
    }
  
    .menu  ul li a{
        margin-top: 40px;
        color: #858585;
    }
  
    .menu  ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: #46a2fd;
    }
  
    #icon-menu{
        display: flex;
    }
  
    .btn-save{
    width: 30%;
    height: 4rem;
    margin-left: 10px;
    background-color:  #364D5C;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
  }
  .btn-save1{
    width: 15%;
    height: 4rem;
    margin-left: 350px;
    background-color:  #364D5C;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    font-size: 20px;
    color: #ffffff;
    margin-top: 30px;
  }
  footer{
    width: 100%;
    background-color: #364D5C;
    padding: 50x 0px;
    height: 70rem;
    margin-top: 5rem;
  }
  .container_footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:auto;
  }
  }
  
  @media screen and (max-width: 800px){
  
    #title{
    font-size: 13px;
    display:flex;
    }
    .log{
     padding-left: 0%;
    }
    body{
      overflow-x: hidden;
    }
    
    .container-all{
      transition: all 300ms cubic-bezier(1,0,0,1);
    }
    
    .move-container-all{
      transform: translateX(210px);
    }
      .container-content{
        width: 100%;
        flex-direction: column;
        scroll-padding-top: 0%;
        align-items: center;
    }
    
    .menu{
      width: 0px;
      height: 100vh;
      position: fixed;
      top: 80px;
      left: 0;
      background: #fff;
      overflow: hidden;
      box-shadow: 10px 0 20px -25px black;
      transition: all 300ms cubic-bezier(1,0,0,1);
    }
    
      .show-lateral {
          width: 250px;
          transform: translateX(0px);
         margin-top: 21px;
         position:absolute;
         text-align: center;
   
      }
      #show-menu ul{
        display: inline;
      }
      #show-menu ul li:hover > ul{
        display: block;
      }
      #show-menu ul li ul{
        display: flex;
        flex-direction:column;
      }
      #show-menu ul li ul{
        position: absolute;
        background:#fdfdfd;
      }
      #show-menu ul li ul li{
        width: 175px;
        background-color:#fdfdfd ;
        position: revert;
      }
      #show-menuul li ul li a{
      text-align: center;
       font-size: medium;
       font-family: Georgia, 'Times New Roman', Times, serif;
      }
      #show-menu ul li ul{
        display: none;
      }
   .nav-item [dropdown]{
     display: block;
   }
      h1{
        height: max-content;
        align-items: center;
        margin-top: 40px;
        font-size: 30px;
      }
    
    
      #icon-menu{
          display: flex;
      }
    
      .btn-save{
      width: 60%;
      height: 4rem;
      margin-left: 10px;
      background-color:  #364D5C;
      border: 0;
      cursor: pointer;
      font-weight: bold;
      font-size: 20px;
      color: #ffffff;
      margin-top: 30px;
    }
    .p{
      margin-left: 14%;
    }
    .btn-save1{
      width: 40%;
      height: 4rem;
      margin-left: 120px;
      background-color:  #364D5C;
      border: 0;
      cursor: pointer;
      font-weight: bold;
      font-size: 20px;
      color: #ffffff;
      margin-top: 30px;
    }
    footer{
      width: 100%;
      background-color: #364D5C;
      padding: 50x 0px;
      height: 70rem;
      margin-top: 5rem;
    }
    .container_footer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin:auto;
    }
    .select-css{
      font-size: 15px;
    }
    .select-css option{
      font-size: 10px;
    }
    }
    body::-webkit-scrollbar{
      width: 12px;
      background: #d5e6ec;
    }
    body::-webkit-scrollbar-thumb{
      background: #364D5C;
      border-radius: 10px;
      border-right: 2px solid #d5e6ec;
    }