<!DOCTYPE html>
<html lang="en">
  <head>
   <%- include('./partials/template/header.ejs')%>
   <link rel="stylesheet" href="/resources/css/registroVisitantes.css" type="text/css" media="all"> 
  </head>

<body id="body1"  onload="getInputs() , getData()">

  <%- include('./partials/template/nav.ejs') %> 
  
  <div id="icon-menu">
    <i class="fas fa-bars"></i>
  </div>
  <div class="container-all" id="move-content">
<main>
  <h1>REGISTRO DE VISITANTES</h1>
  <form method="POST" id="myForm"  class="container-content">
  <div class= camp>
    <label form="tipo">Tipo de documento</label>
   <select name ="tipo_documento" id="tipoDocumento" class="select">
      <option value ="" selected disabled>Selecciona tipo de documento</option>
      <option value ="cedula de ciudadania" >Cédula de Ciudadanía (CC)</option>
      <option value="cedula de extranjeria"  >Cédula de extranjería (CE)</option>
      <option value ="tarjeta de identidad" >Tarjeta de Identidad (TI)</option>
      <option value ="registro civil" >Registro Civil (RC)</option>
      <option value ="numero unico de identificacion personal" >Número Único de Identificación Personal (NUIP)</option>
      <option value ="numero de identificacion personal" >Número de Identificación Personal (NIP)</option>
    </select>
  </div>
  
  <div class= "camp">
    <label form="" for="validationServer" >Número de Documento</label>
    <input type="text"  name="numero_documento" id="validationServer01" class="numberId" placeholder="Ingrese identificación"  pattern="[0-9]{5,15}"  title="la documento debe tener minimo 7 digitos y maximo 10" onblur="idValidation()" required>
    <div id="numeroDocumento">
      
    </div>

  </div>
  <div class="camp">
      <label form="">Nombre completo</label>
      <input type="text" name="nombre_completo"  id="nombre_completo" placeholder=" Ingrese Nombre completo" pattern="[Á-Z á-z]{1,50}" title="Solo se permite el ingreso de letras" required>
    <div id="nombreCompleto">

    </div>
  </div>
     
    <div class= "camp">
      <label form="">Secretaría o Entidad</label>
      <input type="text" name="secretaria_entidad" id="secretaria_entidad" placeholder="Entidad o secretaria a la que pertenece" pattern="[Á-Z/ á-z]{1,70}" title="Solo se permite el ingreso de letras" required>
      <div id="secretariaEntidad">

      </div>
    </div>
  
     <div class= "camp">
      <label form="">Ocupación</label>
      <input type="text" id="ocupacion" name="ocupacion" placeholder="Empleo/Cargo actual" pattern="[Á-Z á-z]{1,50}" title="Solo se permite el ingreso de letras" required>
      <div id="ocupacionn">

      </div>
    </div>
    
    <div class="camp"  required>
      <label form="" >Seleciona el Sexo</label>
      <select name="sexo" class="select" required>    
        <option value ="" selected disabled>Selecciona el Sexo</option>
        <option value ="Masculino" >Masculino</option>
        <option value="Femenino">Femenino</option>
      </select>
    </div>
  
    <div class= "camp">
      <label form="">Fecha de Nacimiento</label>
      <input type="date" name="fecha_nacimiento" id="fecha"  placeholder="AAAA-MM-DD" onchange="ageGenerator(), takeValue()" required>
    </div>
  
    <div class= "camp">
      <label form="">Edad</label>
      <input type="number" name="edad" id="age" value="" aria-disabled="true" readonly >
    </div>
  
    <div class= "camp">
      <label for="">Enfoque diferencial</label>
      <select name ="enfoque_diferencial[]" class="selectpicker" id="SelectVisitors" data-width="18em" data-header="Seleccione campos requeridos" data-selected-text-format="count > 3" onchange="getValue()" multiple required>
        <option value ="Afrodescendiente" >Afrodescendiente</option>
        <option value="Indigena">Indigena</option>
        <option value ="ROM">ROM</option>
        <option value ="LGBTIQ+">LGBTIQ+</option>
        <option value ="Situacion de calle">Situacion de calle</option>
        <option value ="Campesino" >Campesino</option>
        <option value ="Discapacidad" >Discapacidad</option>
        <option value ="No Aplica" id="NoAplica">No Aplica</option>
      </select>
    </div>
  
    <div class="camp"  required>
      <label form="" >Derechos</label>
      <select name="derechos" class="select" >    
        <option value ="" selected disabled>Seleccione el enfoque de Derechos</option>
        <option value ="Población victima">Población victima</option>
        <option value ="Población victima">No Aplica</option>
      </select>
    </div>
    <div class= "camp">
      <label form="tipo">Comuna o corregimiento</label>
      <select name ="degradacion_territorial" id="tipo" class="select" required>
        <option value ="" selected disabled>Selecciona una comuna</option>
        <option value ="1. Popular" >1. POPULAR</option>
        <option value="2. Santa cruz"  >2. SANTA CRUZ</option>
        <option value ="3. Manrique" >3. MANRIQUE</option>
        <option value="4. Aranjuez"  >4. ARANJUEZ</option>
        <option value ="5. Castilla" >5. CASTILLA</option>
        <option value="6. 12 de octubre"  >6. 12 DE OCTUBRE</option>
        <option value ="7. Robledo" >7. ROBLEDO</option>
        <option value="8. Villa Hermosa"  >8. VILLA HERMOSA</option>
        <option value ="9. Buenos Aires" >9. BUENOS AIRES</option>
        <option value="10. la candelaria"  >10. LA CANDELARIA</option>
        <option value ="11. Laureles" >11. LAURELES ESTADIO</option>
        <option value="12. La america"  >12. LA AMERICA</option>
        <option value ="13. San javier" >13. SAN JAVIER</option>
        <option value="14. El poblado"  >14. EL POBLADO</option>
        <option value ="15. Guayabal" >15. GUAYABAL</option>
        <option value="16. Belen"  >16. BELEN</option>
        <option value ="50. San sebastian de palmitas" >50. SAN SEBASTIAN DE PALMITAS</option>
        <option value="60. San cristobal"  >60. SAN CRISTOBAL</option>
        <option value ="70. Alta vista" >70. ALTA VISTA</option>
        <option value="80. San antonio de prado"  >80. SAN ANTONIO DE PRADO</option>
        <option value ="90. Santa elena" >90. SANTA ELENA</option>
      </select>
    </div>
  
    <div class= "camp">
      <label form="">Correo Electrónico</label>
      <input type="email" id="correo" name="correo_electronico" placeholder="Ingrese Correo Electrónico" required>
      <div id="email">

      </div>
    </div>
    
    <div class= "camp">
      <label form="tipo">Organización</label>
      <input name ="organizacion" id="organization" class="select" placeholder="Red, grupo o sector al que pertenece" pattern="[Á-Z á-z 0-9]{1,150}">
      <div id="organizacion">

      </div>
    </div>

      <div class= "camp">
        <label form="">Teléfono o Celular</label>
        <input Id="telCelular" name="telefono_celular" type="tel"  placeholder="Ingrese Teléfono o Celular"pattern="[0-9]{7,10}"  title="El telefono debe tener minimo 7 digitos o maximo 10"required>
        <div id="telefonoCelular">

        </div>
      </div>

      <div class= "camp">
        <label form="">Lugar </label>
        <select class="form-select" name="IdCds">
       <option selected value="<%= id_cds %> "> <%= name %>  </option>
        </select>
      </div>
      <button type="submit" id="btnVisitors" onsubmit="addVisitor()" class="btn-save">Registrar</button>
    </form>
    
</main>
<a href="/visitorsTable" class="btn-save1">Tabla 📋</a>
</div>

<footer class="container-footer">
  <div class="container_footer">
    <div class="box_footer">
      <div class="logo">
        <img class="img1" src="https://www.museocasadelamemoria.gov.co/wp-content/uploads/2016/10/PNG_LOGO_ALCALDIA_MEDELLIN_FONDOS_OSCUROS.png" alt="">
      </div>
      <div class="terms">
        <p> Contáctenos
          Edificio Plaza de la Libertad – Piso 14 A Carrera 53 A # 42-101<br>
          ➮ Línea única de atención ciudadana: (574) 44 44 144<br>
          ➮ Línea gratuita nacional: 01 8000 411 144</p>
      </div>
    </div>

    <div class="box_footer">
      <h2>Entérese</h2>
      <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=navurl://557131b191a8cae1e393328c6971a2d0">Telecentros</a>
      <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=contenido/6694-Centros-de-Desarrollo-Social">CDS</a>
      <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin">Alcaldía de Medellín</a>
    </div>
    <div class="box_footer">
      <h2>Redes</h2>
      <a class="a1" href="https://es-la.facebook.com/AlcaldiadeMed/"><i class=" fab fa-facebook-square"></i> Facebook</a>
      <a class="a1" href="https://twitter.com/AlcaldiadeMed?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class=" fab fa-twitter-square"></i> Twitter</a>
      <a class="a1" href="https://www.instagram.com/alcaldiademed/?hl=es-la"><i class=" fab fa-instagram-square"></i> Instragram</a>
    </div>
  </div>
</footer>


<script src="/resources/js/currentAgeAtVisitors.js"></script>
<script src="/resources/js/script.js"></script>
<script src="/resources/js/idValidationVisitors.js"></script>
<script src="/resources/js/axiosVisitors/addVisitors.js"></script>
<script src="/resources/js/inputDisabledAtVisitors.js"></script>
<script src="/resources/js/redirectToCds.js"></script>
<script src="/resources/js/validationForrmAtVisitors.js" type="module"></script>
<script src="/resources/js/getValueDateAtVisitors.js"></script>
<script src="/resources/js/AddingHiddenAtributteAtVisitors.js"></script>
<script src="/resources/js/readLocalStorageAtVisitors.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
</body>
</html>