<!DOCTYPE html>
<html lang="en">
<head>
  
  <%- include('./partials/template/header.ejs') %> 
  <link rel="stylesheet" href="/resources/css/registroUsuarios.css" type="text/css" media="all">
  
</head>

<body>
  <header>
    <%- include('./partials/template/nav.ejs') %> 
    <div id="icon-menu">
      <i class="fas fa-bars"></i>
    </div>
  </header>

  <div class="container-all" id="move-content">
    <main>
<div class="register-form" id="container-content">
  <h1>REGISTRO DE USUARIOS</h1>

  <form id="usersForm" >
    <label for="">Nombre CDS o TELECENTRO</label>
    <select  name="IdCds" id="tipo"  class="select-css" onchange="getSelectValue()" required>
      <option value ="" selected disabled>Selecciona un cds o telecentro</option>
      <% for(let i = 0; i < data.length; i++) { %> 
        <option value ="<%= data[i].IdCds %>" ><%= data[i].concatenar %> </option>
        <%  } %> 
      </select>

      

      <label for="">Cédula</label>
      <input type="text" for="validationServer"  id="validationServer01" name="cedula" pattern="[0-9]{5,15}"  title="la cedula debe tener minimo 5 digitos" onchange="documentValidation()" required>
         <div class="invalid-feedback">
        La cedula ya es un usuario activo, por favor digite otra.
        </div>

        <label for="">Nombre Coordinador</label>
        <input type="text" name= "nombre_coordinador" pattern="[Á-Z á-z]{1,150}" title="Solo se permite el ingreso de letras" required>

      <label for="">Correo</label>
      <input type="email"  class="select-css1" name="correo" required>


      <label for="">Teléfono/Celular</label>
      <input type="text" name= "telefono"  pattern="[0-9]{7,10}"  title="El telefono debe tener minimo 7 digitos o maximo 10"required>

    <label for="rol">Rol</label>
    <select name ="rol" id="rol" class="select-css"   required>
      <option value="" id="item1" selected></option>
    </select>

    <label for="pass">Contraseña</label>
    <input type="password"  name="pass" required>



    <div style ="display: unline;">
      <input type="submit" id="btnLogin" class="btn-save"  value ="Guardar">
    </div>
  </form>
</div>


<a href="/usersTable" class="btn-save1">Tabla 📋</a>
</div>
</main>


  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css";>
  <footer class="container-footer">
    <div class="container_footer">
      <div class="box_footer">
        <div class="logo">
          <img class="img1" src="https://www.museocasadelamemoria.gov.co/wp-content/uploads/2016/10/PNG_LOGO_ALCALDIA_MEDELLIN_FONDOS_OSCUROS.png" alt="">
        </div>
        <div class="terms">
          <p> Contáctenos
            Edificio Plaza de la Libertad – Piso 14 A Carrera 53 A # 42-101<br>
            ➮ Línea única de atención ciudadana: (574) 44 44 144<br>
            ➮ Línea gratuita nacional: 01 8000 411 144</p>
        </div>
      </div>
     
  
      <div class="box_footer">
        <h2>Entérese</h2>
        <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=navurl://557131b191a8cae1e393328c6971a2d0">Telecentros</a>
        <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=contenido/6694-Centros-de-Desarrollo-Social">CDS</a>
        <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin">Alcaldía de Medellín</a>
      </div>
      <div class="box_footer">
        <h2>Redes</h2>
        <a class="a1" href="https://es-la.facebook.com/AlcaldiadeMed/"><i class=" fab fa-facebook-square"></i> Facebook</a>
        <a class="a1" href="https://twitter.com/AlcaldiadeMed?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class=" fab fa-twitter-square"></i> Twitter</a>
        <a class="a1" href="https://www.instagram.com/alcaldiademed/?hl=es-la"><i class=" fab fa-instagram-square"></i> Instragram</a>
      </div>
    </div>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
  <script src="/resources/js/script.js"></script>
  <script src="/resources/js/documentValidationUsers.js"></script>
  <script src="/resources/js/axiosUsers/addUsers.js"></script>
  <script src="/resources/js/putValueToRolAtUsers.js"></script>
</body>
</html>