<!DOCTYPE html>
<html lang="en">
  <head>
   
    <%- include('./partials/template/header.ejs') %> 
    <link rel="stylesheet" href="/resources/css/registroCds.css" type="text/css" media="all">

  </head>

<body onload="tagDisabled()"> 
  <header>
  <%- include('./partials/template/nav.ejs') %> 
  <div id="icon-menu">
    <i class="fas fa-bars"></i>
  </div>
</header>

<div class="container-all" id="move-content">
<main>

  <div class="register-form" id="container-content">
  <h1>REGISTRO DE CDS & TELECENTROS</h1>
  <form id="cdsForm">
    <div class= camp>
      <label form="tipo">Seleciona el tipo de espacio para el desarrollo</label>
      <select name ="espacio" id="espacio" onchange="disabledInput()" class="select-css"  >
        <option value ="" selected disabled>Selecciona un espacio</option>
        <option value ="CENTRO DE DESARROLO SOCIAL">CENTRO DE DESARROLO SOCIAL</option>
        <option value="TELECENTRO">TELECENTRO</option>
        <option value="ADMINISTRADOR">ADMINISTRADOR</option>
      </select>
      </div>

    <div class= camp>
      <label form="tipo" class="inputs">Comuna o corregimiento</label>
      <select name ="comuna" id="tipo" class="select-css inputs"  >
        <option value ="" selected disabled>Selecciona una comuna</option>
        <option value ="1. Popular" >1. Popular</option>
        <option value="2. Santa Cruz"  >2. Santa Cruz</option>
        <option value ="3. Manrique" >3. Manrique</option>
        <option value="4. Aranjuez"  >4. Aranjuez</option>
        <option value ="5. Castilla" >5. Castilla</option>
        <option value="6. 12 de Octubre"  >6. 12 de Octubre</option>
        <option value ="7. Robledo" >7. Robledo</option>
        <option value="8. Villa Hermosa"  >8. Villa Hermosa</option>
        <option value ="9. Buenos Aires" >9. Buenos Aires</option>
        <option value="10. La Candelaria"  >10. La Candelaria</option>
        <option value ="11. Laureles Estadio" >11. Laureles Estadio</option>
        <option value="12. La America"  >12. La America</option>
        <option value ="13. San javier" >13. San javier</option>
        <option value="14. El Poblado"  >14. El Poblado</option>
        <option value ="15. Guayabal" >15. Guayabal</option>
        <option value="16. Belén"  >16. Belén</option>
        <option value ="50. San Sebastian de Palmitas" >50. San Sebastian de Palmitas</option>
        <option value="60. San Cristobal"  >60. San Cristobal</option>
        <option value ="70. Alta Vista" >70. Alta Vista</option>
        <option value="80. San Antonio de Prado"  >80. San Antonio de Prado</option>
        <option value ="90. Santa Elena" >90. Santa Elena</option>
      </select>
    </div>



      <label for="">Nombre</label>
      <input type="text" name="nombre" pattern="[A- Z]{1,100}" title="El nombre debe ir en mayuscula" required >
      <label for="">Dirección</label>
      <input type="text" name="direccion"  required>

        <label for="">Horario</label>
        <input type="text" id="horario" class="inputs" name= "horario" required>
        <label for="">Correo</label>
        <input type="text" name= "correo" required >
        <label for="">Teléfono</label>
        <input type="text" name= "telefono"  required>
        <label for="">Nombre Coordinador</label>
        <input type="text" name= "nombreCoordinador" required>
        <label for=""></label>
        <input type="text" name= "concatenar" hidden>

    <div style ="display: unline;">
      <input type="submit" class="btn-save" value ="Guardar">
    </div>
  </div>
  </form>

  
</main>
  <a href="/cdsTable" class="btn-save1">Tabla 📋</a>
  </div>
  
  <footer class="container-footer">
    <div class="container_footer">
    <div class="box_footer">
      <div class="logo">
        <img class="img1" src="https://www.museocasadelamemoria.gov.co/wp-content/uploads/2016/10/PNG_LOGO_ALCALDIA_MEDELLIN_FONDOS_OSCUROS.png" alt="">
      </div>
      <div class="terms">
        <p> Contáctenos
          Edificio Plaza de la Libertad – Piso 14 A Carrera 53 A # 42-101<br>
          ➮ Línea única de atención ciudadana: (574) 44 44 144<br>
          ➮ Línea gratuita nacional: 01 8000 411 144</p>
        </div>
      </div>
   

      <div class="box_footer">
        <h2>Entérese</h2>
      <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=navurl://557131b191a8cae1e393328c6971a2d0">Telecentros</a>
      <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin?NavigationTarget=contenido/6694-Centros-de-Desarrollo-Social">CDS</a>
      <a class="a1" href="https://www.medellin.gov.co/irj/portal/medellin">Alcaldía de Medellín</a>
    </div>
    <div class="box_footer">
      <h2>Redes</h2>
      <a class="a1" href="https://es-la.facebook.com/AlcaldiadeMed/"><i class=" fab fa-facebook-square"></i> Facebook</a>
      <a class="a1" href="https://twitter.com/AlcaldiadeMed?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor"><i class=" fab fa-twitter-square"></i> Twitter</a>
      <a class="a1" href="https://www.instagram.com/alcaldiademed/?hl=es-la"><i class=" fab fa-instagram-square"></i> Instragram</a>
    </div>
  </div>
</footer>



<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css";>
<link rel="stylesheet" href= "//fonts.googleapis.com/css?family=Roboto:400,700";>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
<script src="/resources/js/script.js"></script>
<script src="/resources/js/axiosCds/addCds.js"></script>
<script src="/resources/js/tagDisabled.js"></script>
<script src="/resources/js/inputsCdsDisabled.js"></script>
</body>
</html>