<!DOCTYPE html>
<html lang="en">
<head>
<%- include('./partials/template/tablesHeader.ejs') %> 
</head>
<body>
  <h2>TABLA <span class="text-muted">INGRESO DE VISITANTES</span> </h2>
  <a href="/ingresoVisitantes" class="btn btn-outline-secondary">Regresar</a>
  <div class="table-responsive">
      <table id="example"  class=" table table-striped table-ligth table-hover table-sm ">
        <thead class="text-center">
        <tr>
          <th hidden>Id</th>
          <th hidden>TIPO DE DOCUMENTO</th>
          <th>No. DOCUMENTO</th>
          <th hidden>NOMBRES Y APELLIDOS</th>
          <th hidden>SECRETARIA/ENTIDAD</th>
          <th hidden>OCUPACION/EMPLEO/CARGO</th>
          <th hidden>SEXO</th>
          <th hidden>EDAD</th>
          <th hidden>ENFOQUE DIFERENCIAL</th>
          <th hidden>ENFOQUE DE DERECHOS</th>
          <th hidden>COMUNA DONDE RESIDE</th>
          <th hidden>CORREO ELECTRONICO</th>
          <th hidden>ORGANIZACION</th>
          <th hidden>TELEFONO FIJO O CELULAR</th>
          <th>FECHA</th>
          <th>HORA</th>
          <th>NOMBRE CDS O TELECENTRO</th>
          <th>ACTIVIDAD</th>
          <th>ACCIONES</th>
        </tr>
        </thead>
        <tbody>
          
          <% for(let ingresos of visitor) {%> 
           <%- include('./partials/entrancesRowData.ejs', {visitor:ingresos}); %> 
            <% } %>
        </tbody>
    </table> 
    </div>
    <script>
      $(document).ready(function() {
         table = $('#example').DataTable({
        });
       
        //Creamos una fila en el head de la tabla y lo clonamos para cada columna
        $('#example thead tr').clone(true).appendTo( '#example thead' );
    
        $('#example thead tr:eq(1) th').each( function (i) {
            var title = $(this).text(); //es el nombre de la columna
            $(this).html( '<input type="text" placeholder="Search...'+title+'" />' );
     
            $( 'input', this ).on( 'keyup change', function () {
                if ( table.column(i).search() !== this.value ) {
                    table
                        .column(i)
                        .search( this.value )
                        .draw();
                }
            } );
       
        } );  
    
        table.destroy();
    
    $(document).ready(function() {
    $('#example').DataTable({
      orderCellsTop: true,
          destroy: true,
           fixedHeader: true,
            "language": {
              "url": "https://cdn.datatables.net/plug-ins/1.10.25/i18n/Spanish.json",
              },
                "dom": 'Bfrtlip',
                  "buttons":{
                    "dom":{
                     "button":{
                       "className": 'btn'
                              }
                            },
                  "buttons":[{
                     "extend":"excel",
                       "text": '<i class="fas fa-file-excel"></i>',
                         "className": 'btn btn-outline-success mb-1',
                              "titleAttr": 'Exportar a Excel',
                              "excelStyles":{
                                "template": 'green_medium'
                              }
                            }]
                          }                                              
          })          
        });
      }); 
      </script>
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
        <script src="https://cdn.jsdelivr.net/gh/AmagiTech/JSLoader/amagiloader.js"></script>
        <script src="/resources/js/loader.js"></script>
        <script src="/resources/js/axiosEntrances/deleteEntrance.js"></script>
</body>

</html>