<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img class="log" src="https://fiestadellibroylacultura.com/wp-content/uploads/2020/09/Logo_Alcaldia_2021.png" alt="" width="110" height="55" > <strong id="title"><%= name %></strong>
      </a>
        <div class="menu" id="show-menu">
      <ul class="nav nav-tabs">
        <li class="nav-item" role="presentation">
          <a class="nav-link navItem" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true"  href="/visitors">Visitante</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link navItem" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false" href="/ingresoVisitantes" >Ingreso</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link navItem" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" href="/activities">Actividades</a>
        </li>
         <% if(key === 1) { %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navItem" b data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Crear</a>
              <ul class="dropdown-menu">
              <li><a class="dropdown-item navItem " href="/registerCds">CDS o Telecentro</a></li>
              <li><a class="dropdown-item navItem" href="/users">Usuarios</a></li>
            </ul>
          </li>
          <% } %> 
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false" href="/logout">Salir</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>